@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
::before,
::after{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    text-decoration: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    list-style: none;
}

:root {

    /*
        Main colors
    */
        --Primary: #fff;

    /*
        Border
    */
        --border-grey-light: #cccccc30;
}

/*
    CONFIGURAÇÃO BÁSICA
 */

html {
    font-size: 62.5% !important;
    overflow: hidden;

}

ul {
    padding: 0;
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}


/*   SCROLL BAR   */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 2px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

/*   PLACEHOLDER   */
::-webkit-input-placeholder {
    color: #33333380;
    font-weight: 500;
    font-size: 1.2rem;
}

/*
    SUPER CLASSES
 */

.full {
    width: 100vw;
    height: 100vh;
}

.fullPorcent {
    width: 100%;
    height: 100%;
}

.modal {
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-border {
    border: 1px solid var(--border-grey-light);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shadow-input {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.po-abs {
    position: absolute;
}

.box-r {
    border-radius: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.width-max {
    width: 100vw;
}

.height-max {
    height: 100vh;
}

.hr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-hr {
    width: 90%;
    height: 2px;
    background-color: #cccccc;
}

/*
    Login page
 */

.login {
    display: flex;
}

.side-card-login {
    width: 40%;
    height: 100%;
    background-color: #fefefe;

}

.card-login {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.card-login img {
    width: 12vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card-login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-login form button {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    background-color: #3F91CB;
    border-radius: 15px;
    border: none;
    transition: .1s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.card-login form button:hover {
    background-color: #0E2364;
}

.input-check {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #999;
    font-size: 1rem;
    font-weight: 600;
}

.forgotPassword {
    font-size: 1.2rem;
    color: #3F91CB;
    font-weight: 500;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.forgotPassword:hover {
    color: #0E2364;
    font-weight: 600;
}

.input-login {
    display: flex;
    align-content: center;
    width: 94%;
    border: 2px solid #cccccc60;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.input-login input {
    width: 100%;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
}

.input-login-active {
    border-color: #3F91CB;
}

.input-login i {
    padding: 4px 0 0 0;
    font-size: 1.6rem;
    color: #3F91CB;
}


.socials-media {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-media nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.socials-media nav a {
    padding: 5px;
}

.socials-media nav img {
    width: 3vw;
    height: auto;
    display: initial;
    margin: initial;
}

.side-image-login {
    width: 60%;
    height: 100%;
}

.title-image-login {
    padding: 25vh 4vw;
    word-break: break-word;
    width: 60%;
}

.title-image-login h6 {
    font-size: 3.6rem;
    color: #fff;
    font-weight: 300;
    margin: 1vh 0;
}

.title-image-login span {
    font-size: 1.2rem;
    color: #D1D1D1;
    font-weight: 500;
}

#copy {
    bottom: 1vh;
    right: 1vw;
    font-size: 1.2rem;
    color: #fff;
}

.side-image-login img {
    width: 100%;
    height: 100%;
}

